/*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */


	
header {
	width: 93.75%; /* 450px / 480px */
}


#maincontent{
	width: 93.75%; /* 450px / 480px */
}


.maincontent{
	width: 93.75%; /* 450px / 480px */
}


footer {
	width: 93.75%; /* 450px / 480px */
}
		
		

/*  GRID OF EIGHT TURNS INTO A GRID OF FOUR */

.span_8_of_8 {
	width: 100%; 
	margin-left: 0;
}

.span_7_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_6_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_5_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_4_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_3_of_8 {
	width: 74.2%;
	margin: 1% 0 1% 3.2%;
}

.span_2_of_8 {
	width: 48.4%;
	margin: 1% 0 1% 3.2%; 
}

.span_1_of_8 {
	width: 22.6%;
	margin: 1% 0 1% 3.2%; 
}

.span_1_of_8:nth-child(4n+1) { 
	clear: both;
	margin-left: 0;
}

#wrapper{
	header#header{
		nav{
			ul{
				li{
					border: none;
					&:hover{
						border: none;
					}
					a{
						line-height: 2em;
					}
				}
			}
		}
	}
	#home-content{
		#main{
		 	#main-col1{
		  		section#news{
		   			article{ 
		     			img{
							width: 60%;
							height: 60%;
		     			}
		   			}
		  		}
		 	}
		}  
		#blog{
			#blogarticle-wrapper{
				article{
					img{
						width: 60%;
						height: 60%;
					}
				}
			}
		}
		#multimedia{
			#images{
				li{
					width: 50%;
					&:last-child{
						display:none;
					}
				}
			}
		}		
	}
}