/*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */


	
header {
	width: 93.75%; /* 720px / 768px */
}

#maincontent{
	width: 93.75%; /* 720px / 768px */
}


.maincontent{
	width: 93.75%; /* 720px / 768px */
}


footer {
	width: 93.75%; /* 720px / 768px */
}

#wrapper{
	#home-content{
		#main{
		 	#main-col1{
		  		section#news{
		   			article{ 
		     			img{
							width: 60%;
							height: 60%;
		     			}
		   			}
		  		}
		 	}
		 	#main-col3{ 
		 		#buttons-col3{
		 		 	.button-brown div{
		 				padding-top: 5%;
		 			}
		 		 	.button-blue div{
		 				padding-top: 7%;
		 			}		 			
		 		}
		 		.quote{
		 			display: inline;
		 		}
		 	}
		}  
		#blog{
			#blogarticle-wrapper{
				article{
					img{
						width: 60%;
						height: 60%;
					}
				}
			}
			#buttons-blog{
			 	.button-brown div{
			 		 padding-top: 5%;
			 	}
			 	.button-blue div{
			 		 padding-top: 9%;
			 	}		
			}	 	
		}
		#multimedia{
			#images{
				li{
					width: 25%;
					&:last-child{
						display:none;
					}
				}
			}
		}
	}
}
