@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@custom: 'Oswald', sans-serif;
@default: arial, sans-serif;

//Colors
@white:#ffffff;
@gray:#222222;
@gray2:#6d6d6d;
@light-gray:#979797;
@light-gray2:#f3f3f3;
@light-gray3:#dfdfdf;
@light-gray4:#d9d9d9;
@light-gray5:#eeeeee;
@light-blue:#71afb0;
@dark-blue:#659a9b;
@dark-blue2:#458182;
@terracota:#aa914f;



//mixins

.rounded(@radius: 5px){
    -moz-border-radius:@radius; /* Firefox */  
    -webkit-border-radius:@radius; /* Safari and chrome */ 
    -khtml-border-radius:@radius; /* Linux browsers */  
    border-radius:@radius; /* CSS3 */    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(../PIE.php);
}

.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

.gradient(@color: #008b82, @start: #008b82, @end: #00a89c){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: linear-gradient(@start, @end); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(../PIE.php);
}

.shadow-bottom(@color: #ffffff){
    -webkit-box-shadow: 0 0.25em 0.1em -2px @color;
    -moz-box-shadow: 0 0.25em 0.1em -2px @color;
    box-shadow: 0 0.25em 0.1em -2px @color;    
}

.no-shadow(){
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    -moz-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;    
}

.button(@padding-top: 14%, @color: @terracota, @start: @terracota, @end: @terracota){
    display: block;
    height: 4em;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
    background-color: @terracota;
    .gradient(@color: @color, @start: @start, @end: @end);
    div{
        text-transform: uppercase;
        display: inline-block;
        text-align: left;
        padding-top: @padding-top;
        width: 80%;
        a{
            color: @gray;
        }
    }
}

.arrow-right(@color: #659a9b){
    width: 0; 
    height: 0; 
    border-top: 0.4em solid transparent;
    border-bottom: 0.4em solid transparent;
    border-left: 0.4em solid @color;
    float: left;
    margin-right: 0.3em;
    margin-top: 0.15em;
}