html{
    .mp0();
}
a{
	color: @dark-blue;
    text-decoration: none;
}
a:hover{
    color: @gray;
    text-decoration: none;
}

body{
	background-color: @white;
    font-family: @default;
    font-size: 14px;
    color: @gray;
    text-align: center;
}
p{
	font-family:@default; 
	font-weight: normal;
	margin: 0.5em 0;
	line-height: 1.2em;
}

//Headers

h1, h2, h3, h4, h5, h6{
	font-family: @custom;
	font-weight: 400;
}
h1{
	font-size: 2.5em;
}
h2{
	font-size:2em;
}

//Global styles

.inner{
	width: 960px;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}
.wrap {
	float: left;
	width: 960px;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}

.nocomments{
	display: none;
}

//Layout

#wrapper{
	height: 100%;
	margin: auto;
	position: relative;
	text-align: left;

	header#header{
		padding: 1.5em 0 0;

		h1{
			display: inline-block;
			a{
				img{
					max-width: 100%;
					width: 100%;
					vertical-align: middle;
				}
			}
		}
		#social-search-wrapper{
			float: right;
			width: 200px;
			#social-network{
				float: right;
				span{
					margin-right: 1em;
					color: @light-gray;
					line-height: 1.8em;
					font-family: @custom;
					font-size: 1.2em;
					font-weight: 400;
				}
				ul{
					display: inline-block;
					li{
						display: inline;
						padding-right: 0.2em;
						a{
							background: url("images/social-buttons.jpg") no-repeat;
							display: inline-block;
							text-align: center;
							text-indent: -9999px;
							height: 31px;
							width: 31px;
						}
					}

					.facebook{
						a{
							background-position: 0px 0px;
						}
					}
					.twitter{
						a{
							background-position: -38px 0px;
						}
					}
				}
			}
			#search-form{
				float: right;
				background-color: @light-gray2;
				margin-top: 0.4em;
				#s{
					border: none;
					background-color: @light-gray2;
					padding: 0.4em;
					width: 8em;
				}
				#searchsubmit{
					background: url("images/search.png") no-repeat;
					border: none;
					height: 1.7em;
					width: 2.5em;
				}
			}
		}
		nav{
			width: 100%;
			border-top: 0.2em solid @light-gray3;
			margin-top: 2em;

			ul{
				.mp0();
				bottom: 5px;
	   	 		position: relative;
				li{
					display: inline;
					text-align: center;
					border-top: 0.5em solid transparent;
					a{
						color: @gray;
						display: inline-block;
						font-family: @custom;
						font-size: 1.2em;
						font-weight: 400;
						line-height: 4em;
						text-align: center;
						white-space:nowrap;
					}
					&:hover{	
						border-top: 0.5em solid @dark-blue;
					}
				}
			}
		}		
	}

	#home-content{
		#main{
			#main-col1{
				#slideshow{
					position: relative;
					.image{
						img{
							max-width: 100%;
							width: 100%;
						}
						.text {
						    background-color: rgba(0,0,0,0.5);
						    width: 100%;
						    position: absolute;
						    color: @white;
    						bottom: 0;
    						h1{
    							padding: 0.5em 0 0 0.5em;
    							font-size: 2em;
    							a{
    								color: @white;
    							} 							
    						}
    						p{
    							padding: 0 1em;
    						}
							.read-more{
								display: inline-block;
								padding: 0 0 1em 1em;
								color: @terracota;
								font-weight: 600;
								.arrow-right{
									.arrow-right(@terracota);
								}
							}       						
						}
					}
					.flex-control-nav{
						display: none;
					}
					.flex-direction-nav{
						display: block;
						z-index: 10;
						position: absolute;
						bottom: 1em;
						left:90%;
						a{
							height: 26px;
    						width: 20px;
							display: block;
						}
						.flex-next{
							background: url('images/nav.png') no-repeat -40px 0;
						}
						.flex-prev{
							background: url('images/nav.png') no-repeat 0 0;
						}						
					}
				}
				section#news{
					#title-wrapper{
						margin: 1em 0 1em 0;
						padding-bottom: 1em;
						border-bottom: 0.2em solid @terracota;
						h1{
							float: left;
							margin-left: 1em;
						}
						.view-all{
							float: right;
							font-weight: 600;
							padding-left: 2em;
							margin: 1em 1em 0.2em 0;
							background: url("images/icons.png") 0 0px no-repeat;
							width: 4.2em;
							a{
								color: @gray;
							}
						}
					}
					article{
						padding: 0.4em 0.8em 0.8em 0;
						img{
							width: 100%;
							height: 100%;
						}
						aside{
							h1{
								padding-left: 0.4em;
								font-size: 1.3em;
								color: @dark-blue;
								margin-bottom: 0.3em;
							}
							.post-categories{
								margin-bottom: 0.3em;
								padding-left: 0.5em;
								list-style-type: none;
								a{
									font-size: 1.3em;
									color: @gray;
								}
							}
							p{
								padding-left: 0.5em;
								margin: 0.2em 0;
							}
							.read-more{
								padding-left: 0.5em;
								color: @dark-blue;
								font-weight: 600;
								.arrow-right{
									.arrow-right(@dark-blue);
								}
							}
						}
					}					
				}
			}
			section#press{
				background-color: @dark-blue;
				>h1{
					font-size: 2.3em;
					padding: 0.3em 0.5em;
					margin-bottom: 0.1em;
					border-bottom: 0.1em solid @gray;
				}
				article{
					margin: 1.5em;
					border-bottom: 0.1em solid @dark-blue2;
					.shadow-bottom(@light-blue);
					padding-bottom: 1em;
					h1{
						font-size: 1.3em;
						a{
							color: @white;
						}
					}
					.read-more{
						background-color: @white;
						color: @dark-blue;
						padding: 0.4em 0.5em;
						font-weight: 600;
						display: inline-block;
						.arrow-right{
							.arrow-right(@gray);
						}
					}
					&:last-of-type {
						border-bottom: none;
						.no-shadow();
					}
				}
				.view-all{
					border-top: 0.2em solid @gray;
					a{
						float: right;
						font-weight: 600;
						padding-left: 2em;
						margin: 1em;
						background: url("images/icons.png") 0 0px no-repeat;
						width: 4.2em;						
						color: @gray;
					}			
				}
			}
			#main-col3{
				position: relative;
				section#events{
					>h1{
						margin: 0 0.2em;
						padding: 0.2em;
						margin-bottom: 0.1em;
						border-bottom: 0.1em solid @gray;
					}
					article{
						margin: 0.5em;
						overflow: hidden;
						padding-bottom: 0.6em;
						border-bottom: 0.1em solid @light-gray4;
						.date{
							float: left;
							margin: 0.5em 1em 0.5em 0;
							.day{
								background-color: @light-gray2;
								padding: 0.2em 0 0;
								text-align: center;
								font-size: 2em;
							}						
							.month{
								background-color: @light-gray2;
								padding: 0.1em 0.8em 0.4em;
								text-align: center;
								text-transform: uppercase;
							}
							.year{
								background-color:@dark-blue;
								padding: 0.3em;
								text-align: center;
							}		
						}
						aside{
							margin-top: 0.5em;
							h1{
								font-size: 1em;
								a{
									color: @gray;
								}
							}
							p{
								margin: 0;
							}
							.read-more{
								color: @dark-blue;
								font-weight: 600;
								.arrow-right{
									.arrow-right(@dark-blue);
								}
							}				
						}	
					}
					.view-all{
						height: 20px;
						margin: 0.5em 1em 1.6em 0;
						a{
							font-weight: 600;
							float: right;
							color: @gray;
							width: 4.2em;
							background: url("images/icons.png") 0 0px no-repeat;
							padding-left: 2em;
						}
					}				
				}
				section#boxes{
					position: absolute;
					bottom: 0;
					#newsletter-box{
						background-color: @gray;
						padding: 0.3em 0.8em;
						p{
							font-size: 1.3em;
							color: @white;
							margin-top: 0;
						}
						.newsletter{
							.newsletter-email{
								float: left;
								border: none;
								outline: none;
								height: 1.9em;
								padding-left: 0.8em;
								width: 118px;
							}
							.newsletter-submit{
								border: none;
								background-color: @dark-blue;
								padding: 0.2em;
								border: 0.2em solid @white;
								font-weight: 600;
							}
						}
					}
					img{
						width: 100%;
						max-width: 100%;
					}
					.quote{
						padding: 2em 0;
						display: inline-block;
						width: 100%;
						.quote-left{
							min-width: 27px;
							height: 100px;
							background: url('images/quote2.png') no-repeat left top;
							float: left;
						}
						.quote-right{
							min-width: 27px;
							height: 80px;
							background: url('images/quote.png') no-repeat right bottom;
							float: left;
							padding: 0.5em 0;
						}
						.textwidget{
							float: left;
							padding: 0.5em 0 0 0.3em;
						}
					}
					#buttons-col3{
						width: 100%;
						.button-brown{
							.button(11%, @terracota, #cfb674, #99803e);
						}
						.separator{
							height: 0.1em;
							background-color: @white;
						}
						.button-blue{
							.button(14%, @dark-blue, #7fb4b5, #3b7071);
						}
					}
				}
			}
		}
		#multimedia{
			#multimedia-title{
				background-color: @terracota;
				float: left;
				display: inline-block;
    			width: 100%;
    			padding: 0.6em 0;
    			border-top: 0.1em solid @white; 
				h1{
					float: left;
    				margin-left: 0.5em;
				}
				.view-all{
					background: url("images/icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
				    float: right;
				    font-weight: 600;
				    margin: 1em 1em 0.2em 0;
				    padding-left: 2em;
				    width: 4.2em;
				    a{
				    	color: @gray;
				    }				
				}
			}
			#images{
				li{
					position: relative;
					a{
						img{
							width: 100%;
						}	
					}
					.icon{
						position: absolute;
						top: 0;
						right: 0;
						z-index: 100;
					}
				}
			}
		}
		#blog{
			background-color: @light-gray5;
			#blogtitle-wrapper{
				margin: 0.8em 0.3em;
				h1{
					border-bottom: 0.1em solid @dark-blue;
					display: inline-block;
				    margin: 0 0.5em;
				    padding: 0 0.5em 0.3em 0;
				}
				.view-all{
					background: url("images/icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
				    font-weight: 600;
				    margin: 1em 1em 0.2em 0.8em;
				    padding-left: 2em;
				    width: 4.2em;
				    a{
				    	color: @gray;
				    }				
				}
			}
			#blogarticle-wrapper{
				margin: 0.8em 0;
				article{
					aside{
						margin-bottom: 1.5em;
						h1{
							font-size: 1.2em;
							padding: 0 0.8em;
							a{
								color: @gray;
							}
						}
						p{
							padding: 0 0.8em;
						}
						.read-more{
							padding: 0 0.8em;
							color: @dark-blue;
							font-weight: 600;
							.arrow-right{
								.arrow-right(@gray);
							}
						}	
					}
				}
			}
			#buttons-blog{
				.button-brown{
					.button(11%, @terracota, #cfb674, #99803e);
				}
				.separator{
					height: 0.1em;
					background-color: @white;
				}
				.button-blue{
					.button(14%, @dark-blue, #7fb4b5, #3b7071);
				}
			}			
		}
	}
	#footer{
		background: @gray; 
		color: @white;
		#footer-top{
			margin: 1.7em 1.5em;
			#footer-top-col1{
				border-bottom: 0.1em solid @white;
				padding-bottom: 1.5em;
				nav{
					margin-top: 1.5em;
					li{
						display: inline-block;
						padding-left: 0.5em;
						margin-right: 1.5em;
						font-weight: 600;
						.arrow-right{
							.arrow-right(@terracota);
						}
						a{
							color: @white;
						}
					}
				}
				.textwidget{
					margin-top: 2.5em;
					color: @gray2;
				}		
			}
			#footer-top-col2{
				 > div{
					border-bottom: 0.1em solid @terracota;
					padding-bottom: 1.3em;
					margin-left: 2em;				
					h2{
						color: @terracota;
						font-size: 1.7em;
					}
					.contact-label{
						margin: 1.5em 0 0 0;
						color: @terracota;
					}
					p{
						margin: 0;
					}
				}
			}
		}
		#footer-bot{
			margin: 1.2em 1.5em 1.7em 1.5em;
		}
	}
	.content-area{
		margin-top: 1em;
		margin-bottom: 6em;
		#content{
			article{
				display: block;
				padding-right: 5em;
				header{
					h1{
						margin: 1em 0 0.5em 0;
					}
				}
				.entry-content{
					margin: 1em 0;
				}
				footer{
					margin-top: 3em;
					.commentlist{
						margin: 1.5em 0;
						.comment{
							margin: 1.5em 0;
						}
					}
				}
			}
			.archive-header-category{
				padding-right: 5em;
				margin-bottom: 4em;
				h1{
					font-size: 2.5em;
					margin: 0.5em 0;
    				padding: 0.5em 0;
					border-bottom: 0.1em solid @terracota;
				}
			}
			#content-category{
				article{
					header{
						h1{
							font-size: 1.5em;
						}
					}
					img{
						width: 100%;
						height: 100%;
					}
					aside{
						p{
							padding-left: 0.3em;
						}
					}
					.read-more{
						display: inline-block;
						padding: 0 0 1em 0.4em;
						color: @terracota;
						font-weight: 600;
						.arrow-right{
							.arrow-right(@terracota);
						}
					}
				}				
			}
			#content-multimedia{
				.multimedia-element{
					display: inline-block;
					position: relative;
					padding: 1em;
					.icon{
						position: absolute;
						top: 1em;
						left: 1em;
						z-index: 100;
					}				
					a{
						img{
							width: 80%;
							height: 80%
						}
					}
				}
			}
			#searchform{
				display: inline-block;
				background-color: @light-gray2;
				margin-top: 0.4em;
				#s{
					border: none;
					background-color: @light-gray2;
					padding: 0.4em;
					width: 8em;
				}
				#searchsubmit{
					background: url("images/search.png") no-repeat;
					border: none;
					height: 1.7em;
					width: 2.5em;
				}
			}
			.wp-pagenavi {
			    margin: 3em 0;
			}
		}
		#secondary,#sidebar{
			margin-top: 2em;
			li{
				list-style-type: none;
				border-bottom: 0.1em solid @light-gray2;
				margin-bottom: 0.3em;
    			padding-bottom: 0.3em;
			}
			.widgettitle{
				font-size: 2em;
			}
			ul{
				margin-top: 1em;
				margin-bottom: 0.5em;
			}
		}
		#comments{
			label{
				width: 67px;
				display: inline-block;
			}
			#captcha_code_label{
				width: 116px;
			}
			.comment-form-comment label {
				vertical-align: top;
			}
			#reply-title{
				font-size: 2.2em;
			}
			input, textarea{
				border: 1px solid @terracota;
			}
			textarea{
				width: 80%;
			}
			ol{
				list-style-type: none;
				.comment{
					width: 50%;
					display: inline;
					float: left;
					margin-bottom: 24px;
					.content{
						display: table;
						padding-left: 15px;
						border-left: 1px solid @light-gray;
						.comment-text{
							margin-bottom: -3px;
							max-height: 74px;
							overflow-y: auto;
						}
					}
					.comment-meta, .says, .reply{
						display: none;	
					}
					.vcard{
						float: left;
						padding-right: 15px;
					}
					.fn{
						font-weight: bold;
						font-style: normal;
						display: block;
					}										
				}					
			}
			#respond {
				clear: both;
			}
		}
	}
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; 
	    height: 0; 
	    overflow: hidden;
	    iframe, object, embed{
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	    }
	}
	 
}

@media only screen and (max-device-width: 980px) {
	.inner{
		width:92%;
	}
}

@media only screen and (max-device-width: 875px) {
	#wrapper #home-content #main #main-col1 #slideshow .flex-direction-nav .flex-next{
		background: url('images/nav.png') no-repeat 0 0;
	}	
	#wrapper #home-content #main #main-col1 #slideshow .flex-direction-nav .flex-prev{
		background: url('images/nav.png') no-repeat -40px 0;
	}
}