
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 0;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

/*  GRID OF TWO   ============================================================================= */


.span_2_2 {
	width: 100%;
}

.span_1_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_2_2 {
		width: 100%; 
	}
	.span_1_2 {
		width: 100%; 
	}
}

/*  GRID OF THREE   ============================================================================= */

	
.span_3_3 {
	width: 100%; 
}

.span_2_3 {
	width: 66.13%; 
}

.span_1_3 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_3_3 {
		width: 100%; 
	}
	.span_2_3 {
		width: 100%; 
	}
	.span_1_3 {
		width: 100%;
	}
}

/*  GRID OF FOUR   ============================================================================= */

	
.span_4_4 {
	width: 100%; 
}

.span_3_4 {
	width: 75%; 
}

.span_2_4 {
	width: 50%; 
}

.span_1_4 {
	width: 25%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_4_4 {
		width: 100%; 
	}
	.span_3_4 {
		width: 100%; 
	}
	.span_2_4 {
		width: 100%; 
	}
	.span_1_4 {
		width: 100% !important; 
	}
}

/*  GRID OF FIVE   ============================================================================= */

	
.span_5_5 {
	width: 100%;
}

.span_4_5 {
  	width: 80%; 
}

.span_3_5 {
  	width: 60%; 
}

.span_2_5 {
  	width: 40%;
}

.span_1_5 {
  	width: 20%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_5_5 {
		width: 100%; 
	}
	.span_4_5 {
		width: 100%; 
	}
	.span_3_5 {
		width: 100%; 
	}
	.span_2_5 {
		width: 100%; 
	}
	.span_1_5 {
		width: 100%; 
	}
}

/*  GRID OF SIX   ============================================================================= */


.span_6_6 {
	width: 100%;
}

.span_5_6 {
  	width: 83.06%;
}

.span_4_6 {
  	width: 66.13%;
}

.span_3_6 {
  	width: 49.2%;
}

.span_2_6 {
  	width: 32.26%;
}

.span_1_6 {
  	width: 15.33%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_6_6 {
		width: 100%; 
	}
	.span_5_6 {
		width: 100%; 
	}
	.span_4_6 {
		width: 100%; 
	}
	.span_3_6 {
		width: 100%; 
	}
	.span_2_6 {
		width: 100%; 
	}
	.span_1_6 {
		width: 100%; 
	}
}

/*  GRID OF SEVEN   ============================================================================= */


.span_7_7 {
	width: 100%;
}

.span_6_7 {
	width: 85.48%;
}

.span_5_7 {
  	width: 70.97%;
}

.span_4_7 {
  	width: 56.45%;
}

.span_3_7 {
  	width: 41.94%;
}

.span_2_7 {
  	width: 27.42%;
}

.span_1_7 {
  	width: 12.91%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_7_7 {
		width: 100%; 
	}
	.span_6_7 {
		width: 100%; 
	}
	.span_5_7 {
		width: 100%; 
	}
	.span_4_7 {
		width: 100%; 
	}
	.span_3_7 {
		width: 100%; 
	}
	.span_2_7 {
		width: 100%; 
	}
	.span_1_7 {
		width: 100%; 
	}
}

/*  GRID OF EIGHT   ============================================================================= */

	
.span_8_8 {
	width: 100%;
}

.span_7_8 {
	width: 87.3%; 
}

.span_6_8 {
	width: 74.6%; 
}

.span_5_8 {
	width: 61.9%; 
}

.span_4_8 {
	width: 49.2%; 
}

.span_3_8 {
	width: 36.5%;
}

.span_2_8 {
	width: 23.8%; 
}

.span_1_8 {
	width: 11.1%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_8_8 {
		width: 100%; 
	}
	.span_7_8 {
		width: 100%; 
	}
	.span_6_8 {
		width: 100%; 
	}
	.span_5_8 {
		width: 100%; 
	}
	.span_4_8 {
		width: 100%; 
	}
	.span_3_8 {
		width: 100%; 
	}
	.span_2_8 {
		width: 100%; 
	}
	.span_1_8 {
		width: 100%; 
	}
}

/*  GRID OF NINE   ============================================================================= */


.span_9_9 {
	width: 100%;
}

.span_8_9 {
	width: 88.71%;
}

.span_7_9 {
	width: 77.42%; 
}

.span_6_9 {
	width: 66.13%; 
}

.span_5_9 {
	width: 54.84%; 
}

.span_4_9 {
	width: 43.55%; 
}

.span_3_9 {
	width: 32.26%;
}

.span_2_9 {
	width: 20.97%; 
}

.span_1_9 {
	width: 9.68%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_9_9 {
		width: 100%; 
	}
	.span_8_9 {
		width: 100%; 
	}
	.span_7_9 {
		width: 100%; 
	}
	.span_6_9 {
		width: 100%; 
	}
	.span_5_9 {
		width: 100%; 
	}
	.span_4_9 {
		width: 100%; 
	}
	.span_3_9 {
		width: 100%; 
	}
	.span_2_9 {
		width: 100%; 
	}
	.span_1_9 {
		width: 100%; 
	}
}

/*  GRID OF TEN   ============================================================================= */


.span_10_10 {
	width: 100%;
}

.span_9_10 {
	width: 89.84%;
}

.span_8_10 {
	width: 79.68%;
}

.span_7_10 {
	width: 69.52%; 
}

.span_6_10 {
	width: 59.36%; 
}

.span_5_10 {
	width: 49.2%; 
}

.span_4_10 {
	width: 39.04%; 
}

.span_3_10 {
	width: 28.88%;
}

.span_2_10 {
	width: 18.72%; 
}

.span_1_10 {
	width: 8.56%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_10_10 {
		width: 100%; 
	}
	.span_9_10 {
		width: 100%; 
	}
	.span_8_10 {
		width: 100%; 
	}
	.span_7_10 {
		width: 100%; 
	}
	.span_6_10 {
		width: 100%; 
	}
	.span_5_10 {
		width: 100%; 
	}
	.span_4_10 {
		width: 100%; 
	}
	.span_3_10 {
		width: 100%; 
	}
	.span_2_10 {
		width: 100%; 
	}
	.span_1_10 {
		width: 100%; 
	}
}

/*  GRID OF ELEVEN   ============================================================================= */

.span_11_11 {
	width: 100%;
}

.span_10_11 {
	width: 90.76%;
}

.span_9_11 {
	width: 81.52%;
}

.span_8_11 {
	width: 72.29%;
}

.span_7_11 {
	width: 63.05%; 
}

.span_6_11 {
	width: 53.81%; 
}

.span_5_11 {
	width: 44.58%; 
}

.span_4_11 {
	width: 35.34%; 
}

.span_3_11 {
	width: 26.1%;
}

.span_2_11 {
	width: 16.87%; 
}

.span_1_11 {
	width: 7.63%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_11_11 {
		width: 100%; 
	}
	.span_10_11 {
		width: 100%; 
	}
	.span_9_11 {
		width: 100%; 
	}
	.span_8_11 {
		width: 100%; 
	}
	.span_7_11 {
		width: 100%; 
	}
	.span_6_11 {
		width: 100%; 
	}
	.span_5_11 {
		width: 100%; 
	}
	.span_4_11 {
		width: 100%; 
	}
	.span_3_11 {
		width: 100%; 
	}
	.span_2_11 {
		width: 100%; 
	}
	.span_1_11 {
		width: 100%; 
	}
}

/*  GRID OF TWELVE   ============================================================================= */

.span_12_12 {
	width: 100%;
}

.span_11_12 {
	width: 91.53%;
}

.span_10_12 {
	width: 83.06%;
}

.span_9_12 {
	width: 74.6%;
}

.span_8_12 {
	width: 66.13%;
}

.span_7_12 {
	width: 57.66%; 
}

.span_6_12 {
	width: 49.2%; 
}

.span_5_12 {
	width: 40.73%; 
}

.span_4_12 {
	width: 32.26%; 
}

.span_3_12 {
	width: 23.8%;
}

.span_2_12 {
	width: 15.33%; 
}

.span_1_12 {
	width: 6.86%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-device-width: 480px) {
	.span_12_12 {
		width: 100%; 
	}
	.span_11_12 {
		width: 100%; 
	}
	.span_10_12 {
		width: 100%; 
	}
	.span_9_12 {
		width: 100%; 
	}
	.span_8_12 {
		width: 100%; 
	}
	.span_7_12 {
		width: 100%; 
	}
	.span_6_12 {
		width: 100%; 
	}
	.span_5_12 {
		width: 100%; 
	}
	.span_4_12 {
		width: 100%; 
	}
	.span_3_12 {
		width: 100%; 
	}
	.span_2_12 {
		width: 100%; 
	}
	.span_1_12 {
		width: 100%; 
	}
}