/* CSS crunched with Crunch - http://crunchapp.net/ */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
p{margin:0}
.section{clear:both;padding:0px;margin:0px}
.group:before,.group:after{content:"";display:table}
.group:after{clear:both}
.group{zoom:1;}
.col{display:block;float:left;margin:0}
.col:first-child{margin-left:0}
@media only screen and (max-device-width:480px){.col{margin:1% 0 1% 0%}}.span_2_2{width:100%}
.span_1_2{width:49.2%}
@media only screen and (max-device-width:480px){.span_2_2{width:100%} .span_1_2{width:100%}}.span_3_3{width:100%}
.span_2_3{width:66.13%}
.span_1_3{width:32.26%}
@media only screen and (max-device-width:480px){.span_3_3{width:100%} .span_2_3{width:100%} .span_1_3{width:100%}}.span_4_4{width:100%}
.span_3_4{width:75%}
.span_2_4{width:50%}
.span_1_4{width:25%}
@media only screen and (max-device-width:480px){.span_4_4{width:100%} .span_3_4{width:100%} .span_2_4{width:100%} .span_1_4{width:100% !important}}.span_5_5{width:100%}
.span_4_5{width:80%}
.span_3_5{width:60%}
.span_2_5{width:40%}
.span_1_5{width:20%}
@media only screen and (max-device-width:480px){.span_5_5{width:100%} .span_4_5{width:100%} .span_3_5{width:100%} .span_2_5{width:100%} .span_1_5{width:100%}}.span_6_6{width:100%}
.span_5_6{width:83.06%}
.span_4_6{width:66.13%}
.span_3_6{width:49.2%}
.span_2_6{width:32.26%}
.span_1_6{width:15.33%}
@media only screen and (max-device-width:480px){.span_6_6{width:100%} .span_5_6{width:100%} .span_4_6{width:100%} .span_3_6{width:100%} .span_2_6{width:100%} .span_1_6{width:100%}}.span_7_7{width:100%}
.span_6_7{width:85.48%}
.span_5_7{width:70.97%}
.span_4_7{width:56.45%}
.span_3_7{width:41.94%}
.span_2_7{width:27.42%}
.span_1_7{width:12.91%}
@media only screen and (max-device-width:480px){.span_7_7{width:100%} .span_6_7{width:100%} .span_5_7{width:100%} .span_4_7{width:100%} .span_3_7{width:100%} .span_2_7{width:100%} .span_1_7{width:100%}}.span_8_8{width:100%}
.span_7_8{width:87.3%}
.span_6_8{width:74.6%}
.span_5_8{width:61.9%}
.span_4_8{width:49.2%}
.span_3_8{width:36.5%}
.span_2_8{width:23.8%}
.span_1_8{width:11.1%}
@media only screen and (max-device-width:480px){.span_8_8{width:100%} .span_7_8{width:100%} .span_6_8{width:100%} .span_5_8{width:100%} .span_4_8{width:100%} .span_3_8{width:100%} .span_2_8{width:100%} .span_1_8{width:100%}}.span_9_9{width:100%}
.span_8_9{width:88.71%}
.span_7_9{width:77.42%}
.span_6_9{width:66.13%}
.span_5_9{width:54.84%}
.span_4_9{width:43.55%}
.span_3_9{width:32.26%}
.span_2_9{width:20.97%}
.span_1_9{width:9.68%}
@media only screen and (max-device-width:480px){.span_9_9{width:100%} .span_8_9{width:100%} .span_7_9{width:100%} .span_6_9{width:100%} .span_5_9{width:100%} .span_4_9{width:100%} .span_3_9{width:100%} .span_2_9{width:100%} .span_1_9{width:100%}}.span_10_10{width:100%}
.span_9_10{width:89.84%}
.span_8_10{width:79.68%}
.span_7_10{width:69.52%}
.span_6_10{width:59.36%}
.span_5_10{width:49.2%}
.span_4_10{width:39.04%}
.span_3_10{width:28.88%}
.span_2_10{width:18.72%}
.span_1_10{width:8.56%}
@media only screen and (max-device-width:480px){.span_10_10{width:100%} .span_9_10{width:100%} .span_8_10{width:100%} .span_7_10{width:100%} .span_6_10{width:100%} .span_5_10{width:100%} .span_4_10{width:100%} .span_3_10{width:100%} .span_2_10{width:100%} .span_1_10{width:100%}}.span_11_11{width:100%}
.span_10_11{width:90.76%}
.span_9_11{width:81.52%}
.span_8_11{width:72.29%}
.span_7_11{width:63.05%}
.span_6_11{width:53.81%}
.span_5_11{width:44.58%}
.span_4_11{width:35.34%}
.span_3_11{width:26.1%}
.span_2_11{width:16.87%}
.span_1_11{width:7.63%}
@media only screen and (max-device-width:480px){.span_11_11{width:100%} .span_10_11{width:100%} .span_9_11{width:100%} .span_8_11{width:100%} .span_7_11{width:100%} .span_6_11{width:100%} .span_5_11{width:100%} .span_4_11{width:100%} .span_3_11{width:100%} .span_2_11{width:100%} .span_1_11{width:100%}}.span_12_12{width:100%}
.span_11_12{width:91.53%}
.span_10_12{width:83.06%}
.span_9_12{width:74.6%}
.span_8_12{width:66.13%}
.span_7_12{width:57.66%}
.span_6_12{width:49.2%}
.span_5_12{width:40.73%}
.span_4_12{width:32.26%}
.span_3_12{width:23.8%}
.span_2_12{width:15.33%}
.span_1_12{width:6.86%}
@media only screen and (max-device-width:480px){.span_12_12{width:100%} .span_11_12{width:100%} .span_10_12{width:100%} .span_9_12{width:100%} .span_8_12{width:100%} .span_7_12{width:100%} .span_6_12{width:100%} .span_5_12{width:100%} .span_4_12{width:100%} .span_3_12{width:100%} .span_2_12{width:100%} .span_1_12{width:100%}}html{margin:0;padding:0}
a{color:#659a9b;text-decoration:none}
a:hover{color:#222;text-decoration:none}
body{background-color:#fff;font-family:arial,sans-serif;font-size:14px;color:#222;text-align:center}
p{font-family:arial,sans-serif;font-weight:normal;margin:0.5em 0;line-height:1.2em}
h1,h2,h3,h4,h5,h6{font-family:'Oswald',sans-serif;font-weight:400}
h1{font-size:2.5em}
h2{font-size:2em}
.inner{width:960px;max-width:960px;margin:0 auto;overflow:hidden;clear:both}
.wrap{float:left;width:960px}
.alignleft{float:left}
.alignright{float:right}
.alignnone{float:none}
.nocomments{display:none}
#wrapper{height:100%;margin:auto;position:relative;text-align:left}#wrapper header#header{padding:1.5em 0 0}#wrapper header#header h1{display:inline-block}#wrapper header#header h1 a img{max-width:100%;width:100%;vertical-align:middle}
#wrapper header#header #social-search-wrapper{float:right;width:200px}#wrapper header#header #social-search-wrapper #social-network{float:right}#wrapper header#header #social-search-wrapper #social-network span{margin-right:1em;color:#979797;line-height:1.8em;font-family:'Oswald',sans-serif;font-size:1.2em;font-weight:400}
#wrapper header#header #social-search-wrapper #social-network ul{display:inline-block}#wrapper header#header #social-search-wrapper #social-network ul li{display:inline;padding-right:0.2em}#wrapper header#header #social-search-wrapper #social-network ul li a{background:url("images/social-buttons.jpg") no-repeat;display:inline-block;text-align:center;text-indent:-9999px;height:31px;width:31px}
#wrapper header#header #social-search-wrapper #social-network ul .facebook a{background-position:0px 0px}
#wrapper header#header #social-search-wrapper #social-network ul .twitter a{background-position:-38px 0}
#wrapper header#header #social-search-wrapper #search-form{float:right;background-color:#f3f3f3;margin-top:0.4em}#wrapper header#header #social-search-wrapper #search-form #s{border:none;background-color:#f3f3f3;padding:0.4em;width:8em}
#wrapper header#header #social-search-wrapper #search-form #searchsubmit{background:url("images/search.png") no-repeat;border:none;height:1.7em;width:2.5em}
#wrapper header#header nav{width:100%;border-top:.2em solid #dfdfdf;margin-top:2em}#wrapper header#header nav ul{margin:0;padding:0;bottom:5px;position:relative}#wrapper header#header nav ul li{display:inline;text-align:center;border-top:0.5em solid transparent}#wrapper header#header nav ul li a{color:#222;display:inline-block;font-family:'Oswald',sans-serif;font-size:1.2em;font-weight:400;line-height:4em;text-align:center;white-space:nowrap}
#wrapper header#header nav ul li:hover{border-top:.5em solid #659a9b}
#wrapper #home-content #main #main-col1 #slideshow{position:relative}#wrapper #home-content #main #main-col1 #slideshow .image img{max-width:100%;width:100%}
#wrapper #home-content #main #main-col1 #slideshow .image .text{background-color:rgba(0,0,0,0.5);width:100%;position:absolute;color:#fff;bottom:0}#wrapper #home-content #main #main-col1 #slideshow .image .text h1{padding:0.5em 0 0 0.5em;font-size:2em}#wrapper #home-content #main #main-col1 #slideshow .image .text h1 a{color:#fff}
#wrapper #home-content #main #main-col1 #slideshow .image .text p{padding:0 1em}
#wrapper #home-content #main #main-col1 #slideshow .image .text .read-more{display:inline-block;padding:0 0 1em 1em;color:#aa914f;font-weight:600}#wrapper #home-content #main #main-col1 #slideshow .image .text .read-more .arrow-right{width:0;height:0;border-top:0.4em solid transparent;border-bottom:0.4em solid transparent;border-left:.4em solid #aa914f;float:left;margin-right:0.3em;margin-top:0.15em}
#wrapper #home-content #main #main-col1 #slideshow .flex-control-nav{display:none}
#wrapper #home-content #main #main-col1 #slideshow .flex-direction-nav{display:block;z-index:10;position:absolute;bottom:1em;left:90%}#wrapper #home-content #main #main-col1 #slideshow .flex-direction-nav a{height:26px;width:20px;display:block}
#wrapper #home-content #main #main-col1 #slideshow .flex-direction-nav .flex-next{background:url('images/nav.png') no-repeat -40px 0}
#wrapper #home-content #main #main-col1 #slideshow .flex-direction-nav .flex-prev{background:url('images/nav.png') no-repeat 0 0}
#wrapper #home-content #main #main-col1 section#news #title-wrapper{margin:1em 0 1em 0;padding-bottom:1em;border-bottom:.2em solid #aa914f}#wrapper #home-content #main #main-col1 section#news #title-wrapper h1{float:left;margin-left:1em}
#wrapper #home-content #main #main-col1 section#news #title-wrapper .view-all{float:right;font-weight:600;padding-left:2em;margin:1em 1em 0.2em 0;background:url("images/icons.png") 0 0 no-repeat;width:4.2em}#wrapper #home-content #main #main-col1 section#news #title-wrapper .view-all a{color:#222}
#wrapper #home-content #main #main-col1 section#news article{padding:0.4em 0.8em 0.8em 0}#wrapper #home-content #main #main-col1 section#news article img{width:100%;height:100%}
#wrapper #home-content #main #main-col1 section#news article aside h1{padding-left:0.4em;font-size:1.3em;color:#659a9b;margin-bottom:0.3em}
#wrapper #home-content #main #main-col1 section#news article aside .post-categories{margin-bottom:0.3em;padding-left:0.5em;list-style-type:none}#wrapper #home-content #main #main-col1 section#news article aside .post-categories a{font-size:1.3em;color:#222}
#wrapper #home-content #main #main-col1 section#news article aside p{padding-left:0.5em;margin:0.2em 0}
#wrapper #home-content #main #main-col1 section#news article aside .read-more{padding-left:0.5em;color:#659a9b;font-weight:600}#wrapper #home-content #main #main-col1 section#news article aside .read-more .arrow-right{width:0;height:0;border-top:0.4em solid transparent;border-bottom:0.4em solid transparent;border-left:.4em solid #659a9b;float:left;margin-right:0.3em;margin-top:0.15em}
#wrapper #home-content #main section#press{background-color:#659a9b}#wrapper #home-content #main section#press>h1{font-size:2.3em;padding:0.3em 0.5em;margin-bottom:0.1em;border-bottom:.1em solid #222}
#wrapper #home-content #main section#press article{margin:1.5em;border-bottom:.1em solid #458182;-webkit-box-shadow:0 .25em .1em -2px #71afb0;-moz-box-shadow:0 .25em .1em -2px #71afb0;box-shadow:0 .25em .1em -2px #71afb0;padding-bottom:1em}#wrapper #home-content #main section#press article h1{font-size:1.3em}#wrapper #home-content #main section#press article h1 a{color:#fff}
#wrapper #home-content #main section#press article .read-more{background-color:#fff;color:#659a9b;padding:0.4em 0.5em;font-weight:600;display:inline-block}#wrapper #home-content #main section#press article .read-more .arrow-right{width:0;height:0;border-top:0.4em solid transparent;border-bottom:0.4em solid transparent;border-left:.4em solid #222;float:left;margin-right:0.3em;margin-top:0.15em}
#wrapper #home-content #main section#press article:last-of-type{border-bottom:none;-webkit-box-shadow:0 0 0 0 #ffffff;-moz-box-shadow:0 0 0 0 #ffffff;box-shadow:0 0 0 0 #ffffff}
#wrapper #home-content #main section#press .view-all{border-top:.2em solid #222}#wrapper #home-content #main section#press .view-all a{float:right;font-weight:600;padding-left:2em;margin:1em;background:url("images/icons.png") 0 0 no-repeat;width:4.2em;color:#222}
#wrapper #home-content #main #main-col3{position:relative}#wrapper #home-content #main #main-col3 section#events>h1{margin:0 0.2em;padding:0.2em;margin-bottom:0.1em;border-bottom:.1em solid #222}
#wrapper #home-content #main #main-col3 section#events article{margin:0.5em;overflow:hidden;padding-bottom:0.6em;border-bottom:.1em solid #d9d9d9}#wrapper #home-content #main #main-col3 section#events article .date{float:left;margin:0.5em 1em 0.5em 0}#wrapper #home-content #main #main-col3 section#events article .date .day{background-color:#f3f3f3;padding:0.2em 0 0;text-align:center;font-size:2em}
#wrapper #home-content #main #main-col3 section#events article .date .month{background-color:#f3f3f3;padding:0.1em 0.8em 0.4em;text-align:center;text-transform:uppercase}
#wrapper #home-content #main #main-col3 section#events article .date .year{background-color:#659a9b;padding:0.3em;text-align:center}
#wrapper #home-content #main #main-col3 section#events article aside{margin-top:0.5em}#wrapper #home-content #main #main-col3 section#events article aside h1{font-size:1em}#wrapper #home-content #main #main-col3 section#events article aside h1 a{color:#222}
#wrapper #home-content #main #main-col3 section#events article aside p{margin:0}
#wrapper #home-content #main #main-col3 section#events article aside .read-more{color:#659a9b;font-weight:600}#wrapper #home-content #main #main-col3 section#events article aside .read-more .arrow-right{width:0;height:0;border-top:0.4em solid transparent;border-bottom:0.4em solid transparent;border-left:.4em solid #659a9b;float:left;margin-right:0.3em;margin-top:0.15em}
#wrapper #home-content #main #main-col3 section#events .view-all{height:20px;margin:0.5em 1em 1.6em 0}#wrapper #home-content #main #main-col3 section#events .view-all a{font-weight:600;float:right;color:#222;width:4.2em;background:url("images/icons.png") 0 0 no-repeat;padding-left:2em}
#wrapper #home-content #main #main-col3 section#boxes{position:absolute;bottom:0}#wrapper #home-content #main #main-col3 section#boxes #newsletter-box{background-color:#222;padding:0.3em 0.8em}#wrapper #home-content #main #main-col3 section#boxes #newsletter-box p{font-size:1.3em;color:#fff;margin-top:0}
#wrapper #home-content #main #main-col3 section#boxes #newsletter-box .newsletter .newsletter-email{float:left;border:none;outline:none;height:1.9em;padding-left:0.8em;width:118px}
#wrapper #home-content #main #main-col3 section#boxes #newsletter-box .newsletter .newsletter-submit{border:none;background-color:#659a9b;padding:0.2em;border:.2em solid #fff;font-weight:600}
#wrapper #home-content #main #main-col3 section#boxes img{width:100%;max-width:100%}
#wrapper #home-content #main #main-col3 section#boxes .quote{padding:2em 0;display:inline-block;width:100%}#wrapper #home-content #main #main-col3 section#boxes .quote .quote-left{min-width:27px;height:100px;background:url('images/quote2.png') no-repeat left top;float:left}
#wrapper #home-content #main #main-col3 section#boxes .quote .quote-right{min-width:27px;height:80px;background:url('images/quote.png') no-repeat right bottom;float:left;padding:0.5em 0}
#wrapper #home-content #main #main-col3 section#boxes .quote .textwidget{float:left;padding:0.5em 0 0 0.3em}
#wrapper #home-content #main #main-col3 section#boxes #buttons-col3{width:100%}#wrapper #home-content #main #main-col3 section#boxes #buttons-col3 .button-brown{display:block;height:4em;vertical-align:middle;text-align:center;font-weight:600;font-size:1.8em;background-color:#aa914f;background:#aa914f;background:linear-gradient(#cfb674, #99803e);-pie-background:linear-gradient(#cfb674, #99803e);behavior:url(../PIE.php)}#wrapper #home-content #main #main-col3 section#boxes #buttons-col3 .button-brown div{text-transform:uppercase;display:inline-block;text-align:left;padding-top:11%;width:80%}#wrapper #home-content #main #main-col3 section#boxes #buttons-col3 .button-brown div a{color:#222}
#wrapper #home-content #main #main-col3 section#boxes #buttons-col3 .separator{height:0.1em;background-color:#fff}
#wrapper #home-content #main #main-col3 section#boxes #buttons-col3 .button-blue{display:block;height:4em;vertical-align:middle;text-align:center;font-weight:600;font-size:1.8em;background-color:#aa914f;background:#659a9b;background:linear-gradient(#7fb4b5, #3b7071);-pie-background:linear-gradient(#7fb4b5, #3b7071);behavior:url(../PIE.php)}#wrapper #home-content #main #main-col3 section#boxes #buttons-col3 .button-blue div{text-transform:uppercase;display:inline-block;text-align:left;padding-top:14%;width:80%}#wrapper #home-content #main #main-col3 section#boxes #buttons-col3 .button-blue div a{color:#222}
#wrapper #home-content #multimedia #multimedia-title{background-color:#aa914f;float:left;display:inline-block;width:100%;padding:0.6em 0;border-top:.1em solid #fff}#wrapper #home-content #multimedia #multimedia-title h1{float:left;margin-left:0.5em}
#wrapper #home-content #multimedia #multimedia-title .view-all{background:url("images/icons.png") no-repeat scroll 0 0 rgba(0,0,0,0);float:right;font-weight:600;margin:1em 1em 0.2em 0;padding-left:2em;width:4.2em}#wrapper #home-content #multimedia #multimedia-title .view-all a{color:#222}
#wrapper #home-content #multimedia #images li{position:relative}#wrapper #home-content #multimedia #images li a img{width:100%}
#wrapper #home-content #multimedia #images li .icon{position:absolute;top:0;right:0;z-index:100}
#wrapper #home-content #blog{background-color:#eee}#wrapper #home-content #blog #blogtitle-wrapper{margin:0.8em 0.3em}#wrapper #home-content #blog #blogtitle-wrapper h1{border-bottom:.1em solid #659a9b;display:inline-block;margin:0 0.5em;padding:0 0.5em 0.3em 0}
#wrapper #home-content #blog #blogtitle-wrapper .view-all{background:url("images/icons.png") no-repeat scroll 0 0 rgba(0,0,0,0);font-weight:600;margin:1em 1em 0.2em 0.8em;padding-left:2em;width:4.2em}#wrapper #home-content #blog #blogtitle-wrapper .view-all a{color:#222}
#wrapper #home-content #blog #blogarticle-wrapper{margin:0.8em 0}#wrapper #home-content #blog #blogarticle-wrapper article aside{margin-bottom:1.5em}#wrapper #home-content #blog #blogarticle-wrapper article aside h1{font-size:1.2em;padding:0 0.8em}#wrapper #home-content #blog #blogarticle-wrapper article aside h1 a{color:#222}
#wrapper #home-content #blog #blogarticle-wrapper article aside p{padding:0 0.8em}
#wrapper #home-content #blog #blogarticle-wrapper article aside .read-more{padding:0 0.8em;color:#659a9b;font-weight:600}#wrapper #home-content #blog #blogarticle-wrapper article aside .read-more .arrow-right{width:0;height:0;border-top:0.4em solid transparent;border-bottom:0.4em solid transparent;border-left:.4em solid #222;float:left;margin-right:0.3em;margin-top:0.15em}
#wrapper #home-content #blog #buttons-blog .button-brown{display:block;height:4em;vertical-align:middle;text-align:center;font-weight:600;font-size:1.8em;background-color:#aa914f;background:#aa914f;background:linear-gradient(#cfb674, #99803e);-pie-background:linear-gradient(#cfb674, #99803e);behavior:url(../PIE.php)}#wrapper #home-content #blog #buttons-blog .button-brown div{text-transform:uppercase;display:inline-block;text-align:left;padding-top:11%;width:80%}#wrapper #home-content #blog #buttons-blog .button-brown div a{color:#222}
#wrapper #home-content #blog #buttons-blog .separator{height:0.1em;background-color:#fff}
#wrapper #home-content #blog #buttons-blog .button-blue{display:block;height:4em;vertical-align:middle;text-align:center;font-weight:600;font-size:1.8em;background-color:#aa914f;background:#659a9b;background:linear-gradient(#7fb4b5, #3b7071);-pie-background:linear-gradient(#7fb4b5, #3b7071);behavior:url(../PIE.php)}#wrapper #home-content #blog #buttons-blog .button-blue div{text-transform:uppercase;display:inline-block;text-align:left;padding-top:14%;width:80%}#wrapper #home-content #blog #buttons-blog .button-blue div a{color:#222}
#wrapper #footer{background:#222;color:#fff}#wrapper #footer #footer-top{margin:1.7em 1.5em}#wrapper #footer #footer-top #footer-top-col1{border-bottom:.1em solid #fff;padding-bottom:1.5em}#wrapper #footer #footer-top #footer-top-col1 nav{margin-top:1.5em}#wrapper #footer #footer-top #footer-top-col1 nav li{display:inline-block;padding-left:0.5em;margin-right:1.5em;font-weight:600}#wrapper #footer #footer-top #footer-top-col1 nav li .arrow-right{width:0;height:0;border-top:0.4em solid transparent;border-bottom:0.4em solid transparent;border-left:.4em solid #aa914f;float:left;margin-right:0.3em;margin-top:0.15em}
#wrapper #footer #footer-top #footer-top-col1 nav li a{color:#fff}
#wrapper #footer #footer-top #footer-top-col1 .textwidget{margin-top:2.5em;color:#6d6d6d}
#wrapper #footer #footer-top #footer-top-col2>div{border-bottom:.1em solid #aa914f;padding-bottom:1.3em;margin-left:2em}#wrapper #footer #footer-top #footer-top-col2>div h2{color:#aa914f;font-size:1.7em}
#wrapper #footer #footer-top #footer-top-col2>div .contact-label{margin:1.5em 0 0 0;color:#aa914f}
#wrapper #footer #footer-top #footer-top-col2>div p{margin:0}
#wrapper #footer #footer-bot{margin:1.2em 1.5em 1.7em 1.5em}
#wrapper .content-area{margin-top:1em;margin-bottom:6em}#wrapper .content-area #content article{display:block;padding-right:5em}#wrapper .content-area #content article header h1{margin:1em 0 0.5em 0}
#wrapper .content-area #content article .entry-content{margin:1em 0}
#wrapper .content-area #content article footer{margin-top:3em}#wrapper .content-area #content article footer .commentlist{margin:1.5em 0}#wrapper .content-area #content article footer .commentlist .comment{margin:1.5em 0}
#wrapper .content-area #content .archive-header-category{padding-right:5em;margin-bottom:4em}#wrapper .content-area #content .archive-header-category h1{font-size:2.5em;margin:0.5em 0;padding:0.5em 0;border-bottom:.1em solid #aa914f}
#wrapper .content-area #content #content-category article header h1{font-size:1.5em}
#wrapper .content-area #content #content-category article img{width:100%;height:100%}
#wrapper .content-area #content #content-category article aside p{padding-left:0.3em}
#wrapper .content-area #content #content-category article .read-more{display:inline-block;padding:0 0 1em 0.4em;color:#aa914f;font-weight:600}#wrapper .content-area #content #content-category article .read-more .arrow-right{width:0;height:0;border-top:0.4em solid transparent;border-bottom:0.4em solid transparent;border-left:.4em solid #aa914f;float:left;margin-right:0.3em;margin-top:0.15em}
#wrapper .content-area #content #content-multimedia .multimedia-element{display:inline-block;position:relative;padding:1em}#wrapper .content-area #content #content-multimedia .multimedia-element .icon{position:absolute;top:1em;left:1em;z-index:100}
#wrapper .content-area #content #content-multimedia .multimedia-element a img{width:80%;height:80%}
#wrapper .content-area #content #searchform{display:inline-block;background-color:#f3f3f3;margin-top:0.4em}#wrapper .content-area #content #searchform #s{border:none;background-color:#f3f3f3;padding:0.4em;width:8em}
#wrapper .content-area #content #searchform #searchsubmit{background:url("images/search.png") no-repeat;border:none;height:1.7em;width:2.5em}
#wrapper .content-area #content .wp-pagenavi{margin:3em 0}
#wrapper .content-area #secondary,#wrapper .content-area #sidebar{margin-top:2em}#wrapper .content-area #secondary li,#wrapper .content-area #sidebar li{list-style-type:none;border-bottom:.1em solid #f3f3f3;margin-bottom:0.3em;padding-bottom:0.3em}
#wrapper .content-area #secondary .widgettitle,#wrapper .content-area #sidebar .widgettitle{font-size:2em}
#wrapper .content-area #secondary ul,#wrapper .content-area #sidebar ul{margin-top:1em;margin-bottom:0.5em}
#wrapper .content-area #comments label{width:67px;display:inline-block}
#wrapper .content-area #comments #captcha_code_label{width:116px}
#wrapper .content-area #comments .comment-form-comment label{vertical-align:top}
#wrapper .content-area #comments #reply-title{font-size:2.2em}
#wrapper .content-area #comments input,#wrapper .content-area #comments textarea{border:1px solid #aa914f}
#wrapper .content-area #comments textarea{width:80%}
#wrapper .content-area #comments ol{list-style-type:none}#wrapper .content-area #comments ol .comment{width:50%;display:inline;float:left;margin-bottom:24px}#wrapper .content-area #comments ol .comment .content{display:table;padding-left:15px;border-left:1px solid #979797}#wrapper .content-area #comments ol .comment .content .comment-text{margin-bottom:-3px;max-height:74px;overflow-y:auto}
#wrapper .content-area #comments ol .comment .comment-meta,#wrapper .content-area #comments ol .comment .says,#wrapper .content-area #comments ol .comment .reply{display:none}
#wrapper .content-area #comments ol .comment .vcard{float:left;padding-right:15px}
#wrapper .content-area #comments ol .comment .fn{font-weight:bold;font-style:normal;display:block}
#wrapper .content-area #comments #respond{clear:both}
#wrapper .video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}#wrapper .video-container iframe,#wrapper .video-container object,#wrapper .video-container embed{position:absolute;top:0;left:0;width:100%;height:100%}
@media only screen and (max-device-width:980px){.inner{width:92%}}@media only screen and (max-device-width:875px){#wrapper #home-content #main #main-col1 #slideshow .flex-direction-nav .flex-next{background:url('images/nav.png') no-repeat 0 0} #wrapper #home-content #main #main-col1 #slideshow .flex-direction-nav .flex-prev{background:url('images/nav.png') no-repeat -40px 0}}@media only screen and (max-device-width:1024px) and (min-device-width:769px){header{width:93.75%;} #maincontent{width:93.75%;} .maincontent{width:93.75%;} footer{width:93.75%;}}@media only screen and (max-device-width:768px) and (min-device-width:481px){header{width:93.75%;} #maincontent{width:93.75%;} .maincontent{width:93.75%;} footer{width:93.75%;} #wrapper #home-content #main #main-col1 section#news article img{width:60%;height:60%} #wrapper #home-content #main #main-col3 #buttons-col3 .button-brown div{padding-top:5%} #wrapper #home-content #main #main-col3 #buttons-col3 .button-blue div{padding-top:7%} #wrapper #home-content #main #main-col3 .quote{display:inline} #wrapper #home-content #blog #blogarticle-wrapper article img{width:60%;height:60%} #wrapper #home-content #blog #buttons-blog .button-brown div{padding-top:5%} #wrapper #home-content #blog #buttons-blog .button-blue div{padding-top:9%} #wrapper #home-content #multimedia #images li{width:25%}#wrapper #home-content #multimedia #images li:last-child{display:none}}@media only screen and (max-device-width:480px){header{width:93.75%;} #maincontent{width:93.75%;} .maincontent{width:93.75%;} footer{width:93.75%;} .span_8_of_8{width:100%;margin-left:0} .span_7_of_8{width:100%;margin-left:0} .span_6_of_8{width:100%;margin-left:0} .span_5_of_8{width:100%;margin-left:0} .span_4_of_8{width:100%;margin-left:0} .span_3_of_8{width:74.2%;margin:1% 0 1% 3.2%} .span_2_of_8{width:48.4%;margin:1% 0 1% 3.2%} .span_1_of_8{width:22.6%;margin:1% 0 1% 3.2%} .span_1_of_8:nth-child(4n+1){clear:both;margin-left:0} #wrapper header#header nav ul li{border:none}#wrapper header#header nav ul li:hover{border:none} #wrapper header#header nav ul li a{line-height:2em} #wrapper #home-content #main #main-col1 section#news article img{width:60%;height:60%} #wrapper #home-content #blog #blogarticle-wrapper article img{width:60%;height:60%} #wrapper #home-content #multimedia #images li{width:50%}#wrapper #home-content #multimedia #images li:last-child{display:none}}
